<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <title>TRACKtech VTC</title>
  <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
  <!-- <script src="/views/assets/bundle.js"></script> -->
  <!-- <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css"> -->
  <link rel="stylesheet" href="/views/assets/main.css">
  <link rel="stylesheet" href="/views/assets/widget.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="/views/assets/Font-Awesome-5.7.2/css/all.css">
</head>

<body>
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script> -->
  <div class="container container-table" style="widows: 100%;">
    <div class="row vertical-center-row">
      <div id="cisco_block" class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <span>
              <img src="/views/assets/cisco_logo1.png" style="height:55px" />
            </span>
          </div>
          <div id="ttLogo" class="col-md-8" style="padding:initial">
            <span style="float: right;">
              <img src="/views/assets/TRACKtech_Logo.jpg" style="height:55px; width:200px" />
            </span>
          </div>

        </div>
        <div class="row">
          <div id="my-webexteams-widget" style=" height: 500px;"> </div>
        </div>

      </div>

      <div id="notes_block" style="display:none; margin-top: 55px; border: 1px solid gray;padding: 0px;" class="">
        <div class="tab-content" style="width:100%">

          <div id="notes"
            style="display:none;height:13em;overflow-y: scroll; background-color: #635e5e30; text-align: left;margin-left: 5px;">
          </div>
          <div class="" id="tiny" style="height: 12em ;">
            <div class="">
              <div class="">
                <div class="" style="width:100%">
                  <textarea class="tinymca" id="textEditor"></textarea>
                </div>
              </div>

              <div class="row" style="float: right;margin:0">

                <div class=" " style="padding: 1px;">
                  <a id="getnotes" type="submit" style="background: grey;margin-top: 3px;"
                    class="btn btn-default btn-sm float-right">Get
                    Notes</a>
                </div>
                <div class="" style="padding: 1px;">
                  <a id="addnotes" type="submit" style="background: grey;margin-top: 3px;"
                    class="btn btn-default btn-sm float-right">Add
                    Notes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="" id="notesBtn" style="float:right">
            <a onclick="manageUi('showNotes')" id="showNotes" style="display:inline" class="btn btn-sm btn-info"><i
                class="fa fa-plus-circle" aria-hidden="true"></i>
              Notes</a>
            <a onclick="manageUi('hideNotes')" id="hideNotes" style="display:none" class="btn btn-info btn-sm">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
              Notes</a>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <script src="/views/assets/jquery-2.1.4.js"></script>
  <script src="/views/assets/bootstrap.min.js"></script>
  <script src="/views/moment.js"></script>
  <script src="/views/tinymce/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: "textarea",
      statusbar: false,
      branding: false,
      plugins: [
        "advlist autolink lists link image",
        "code fullscreen",
        "insertdatetime table paste"
      ],
      });
  </script>
  <script>
    var jwtToken;
    var emailvalue;
    var key;
    let urlqueryStrings = (new URL(document.location)).searchParams;
    let params = new URLSearchParams(urlqueryStrings);
    let entries = params.entries(); //returns an iterator of decoded [key,value] tuples
    let queryStings = this.paramsToObject(entries); //{abc:"foo",def:"[asf]",xyz:"5"}
    function paramsToObject(entries) {
      let result = {}
      for (let entry of entries) { // each 'entry' is a [key, value] tupple
        const [key, value] = entry;
        result[key] = value;
      }
      return result;
    }
    if (queryStings) {
      var isGuest = Object.keys(queryStings);
      var Guest = isGuest.filter(function (guest) {
        return guest.toLowerCase() == 'spaceId';
      });

      var guest_Params;
      var guest_Value;
      var emailvalue= null;
      // for (key in queryStings) {

      if ((queryStings.hasOwnProperty('spaceId') == true)) {
        spaceValue = queryStings['spaceId'];
        key = 'spaceId';
      }
      if ((queryStings.hasOwnProperty('userId') == true) || (queryStings.hasOwnProperty('email') == true)) {
          emailvalue = queryStings['email'];
          key = 'email';
      }
      // }
      guest_Params = { pmId: spaceValue }
    }

    // $.getJSON('/guestUserToken', guest_Params, function (data) {
    $.getJSON('/getaccessToken', guest_Params, function (data) {
      if (data.success) {
        jwtToken = JSON.parse(data.jwtToken)
        var DBaccessToken = jwtToken.access_token;
        if (DBaccessToken) {
          try {
            var widgetEl = document.getElementById('my-webexteams-widget');
            ciscospark.widget(widgetEl).spaceWidget({
              accessToken: DBaccessToken,
              destinationType: key,
              destinationId: (emailvalue)?emailvalue:jwtToken.teamId,
              spaceActivities: { "files": true, "meet": true, "message": true, "people": true },
              initialActivity: (emailvalue)?'meet':'message',
              secondaryActivitiesFullWidth: false,
              startCall:(emailvalue)?true:false,
              onEvent: callback
            })
          } catch (error) {
            console.log(error, 'ddddddddddddddd')
          }

        } else {
          console.log('No access token provided');
        }
      } else {
        return data;
      }
    })
  function callback(name, detail) {
    console.log('test',name,detail)
  if (name === 'messages:created') {
    // Perform an action if a new message has been created
  }
}
    var d = moment(new Date()).format('MM-DD-YYYY, h:mm:ss a');
    document.getElementById('addnotes').onclick = function () {
      document.getElementById('notes').style.display = 'block';
      var t = tinymce.activeEditor.getContent({ format: 'raw' });
      var replace = d;
      var newItem = document.createElement("p");
      newItem.style.marginBottom = 0;
      var textnode = document.createTextNode(replace);
      newItem.appendChild(textnode);
      document.getElementById('notes').appendChild(newItem);
      document.getElementById('notes').innerHTML += t;
      var element = document.getElementById("notes");
      element.scrollTop = element.scrollHeight - element.clientHeight;
      tinymce.activeEditor.setContent('');
      var parameters = { Notes: t, imei: queryStings['imei'] };
      $.get('/addNotes', parameters, function (data) {
        console.log(data, 'Response data');
      });
    }

    function manageUi(id) {
      var showNotes = document.getElementById(id);
      showNotes.style.display = 'none';
      switch (id) {
        case 'hideNotes':
          var showNotes = document.getElementById('showNotes');
          showNotes.style.display = 'inline';
          var d = document.getElementById('notes_block');
          d.style.display = 'none';
          d.classList.remove("col-md-6");
          var cisco = document.getElementById('cisco_block');
          cisco.classList.remove("col-md-6");
          cisco.className = "col-md-12";
          break;
        case 'showNotes':
          var showNotes = document.getElementById('hideNotes');
          showNotes.style.display = 'inline';
          var d = document.getElementById('notes_block');
          d.style.display = 'inline';
          d.className = "col-md-6";
          var cisco = document.getElementById('cisco_block');
          cisco.classList.remove("col-md-12");
          cisco.className = "col-md-6";
          break;
        default:
          break;
      }

    }

    document.getElementById('getnotes').onclick = function () {
      var params = { imei: queryStings['imei'] };
      tinymce.activeEditor.setContent('');
      $.get('/getNotes', params, function (data) {
        console.log(data, 'returns data');
        if (data.status) {
          document.getElementById('notes').style.display = 'block';
          data.notes.forEach(element => {
            var newItem = document.createElement("p");
            newItem.style.marginBottom = 0;
            var textnode = document.createTextNode(moment(new Date(element.date)).format('MM-DD-YYYY, h:mm:ss a'));
            newItem.appendChild(textnode);
            document.getElementById('notes').appendChild(newItem);
            document.getElementById('notes').innerHTML += element.notes;
          });
          var element = document.getElementById("notes");
          element.scrollTop = element.scrollHeight - element.clientHeight;
        } else {
          document.getElementById('notes').style.display = 'none';
          alert('No Data Found');
        }

      });
    }


  </script>

</body>

</html>